@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<script>
$.ajax({ url: 'http://localhost:5151/api/userdata'})
    .done(function (data) {
        console.log(data)
    })
</script>