@{
    ViewData["Title"] = "Userdata Example";
}
<h1>@ViewData["Title"]</h1>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Lastname</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>
    </tbody>
</table>

<script>
$.ajax("http://localhost:5151/api/userdata").done((data) => {
    const rowTableTemplate = `
    <tr>
        <td>%Id%</td>
        <td>%Name%</td>
        <td>%Lastname%</td>
    </tr>
    `;
    const rows = [];
    for (const item of data) {
        let doc$ = rowTableTemplate;
        doc$ = doc$.replace('%Id%', item.id);
        doc$ = doc$.replace('%Name%', item.name);
        doc$ = doc$.replace('%Lastname%', item['lastname']);
        rows.push(doc$)
    }
    $('tbody').html(rows.join(''))
});
</script>