@{
    ViewData["Title"] = "Userdelete";
}


<div class="container">

    <div class="container">
        <div class="row">
            <div class="col-7">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Lastname</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a class="btn btn-light" role="button" asp-controller="Home" asp-action="Userdata">Back</a>
            </div>
        </div>
    </div>
</div>

<script>
<<<<<<< HEAD
        $.ajax("http://localhost:5151/api/userdata").done((data) => {
        const rowTableTemplate = `
            <tr>
                <td>%Id%</td>
                <td>%Name%</td>
                <td>%Lastname%</td>
                <td><button type="button" class="btn btn-danger">Delete</button></td>
            </tr>`;
=======
    function requestDeleteUserdataById(userId) {
        $.ajax({
            url: `http://localhost:5151/api/userdata/${userId}`,
            method: 'delete',
        }).done((data) => {
            alert(data)
            
            $.ajax("http://localhost:5151/api/userdata").done((data) => {
                const rowTableTemplate = `
                <tr>
                    <td>%Id%</td>
                    <td>%Name%</td>
                    <td>%Lastname%</td>
                    <td>
                        <button type="button" 
                                class="btn btn-danger" 
                                onclick="requestDeleteUserdataById('%DeleteId%')">
                            Delete
                        </button>
                    </td>
                </tr>`;
                const rows = [];
                for (const item of data) {
                    let doc$ = rowTableTemplate;
                    doc$ = doc$.replace('%Id%', item.id);
                    doc$ = doc$.replace('%Name%', item.name);
                    doc$ = doc$.replace('%Lastname%', item.lastname);
                    doc$ = doc$.replace('%DeleteId%', item.id)
                    rows.push(doc$)
                }
                $('tbody').html(rows.join(''))
            });
        })
    }

    $.ajax("http://localhost:5151/api/userdata").done((data) => {
        const rowTableTemplate = `
        <tr>
            <td>%Id%</td>
            <td>%Name%</td>
            <td>%Lastname%</td>
            <td><button type="button" class="btn btn-danger" onclick="requestDeleteUserdataById('%DeleteId%')">Delete</button></td>
        </tr>`;
>>>>>>> 45515c2db26ff20408e0764a68b5d725cc94f5ff
        const rows = [];
        for (const item of data) {
            let doc$ = rowTableTemplate;
            doc$ = doc$.replace('%Id%', item.id);
            doc$ = doc$.replace('%Name%', item.name);
            doc$ = doc$.replace('%Lastname%', item.lastname);
<<<<<<< HEAD
            rows.push(doc$)
        }
        $('tbody').html(rows.join(''))
        });
        
        $('#DeleteId').click(() => {
        $.ajax({
            url: `http://localhost:5151/api/userdata/${id}`,
            type: 'delete',
        }).done(alert(data))

        });
</script>
=======
            doc$ = doc$.replace('%DeleteId%', item.id)
            rows.push(doc$)
        }
        $('tbody').html(rows.join(''))
    });

    // $('#DeleteId').click(() => {
    //     const id = $('#userdataId').val()
    //     const name = $('#userdataName').val()
    //     const lastname = $('#userdataLastname').val()
    //
    //     $.ajax({
    //         url: `http://localhost:5151/api/userdata/${id}`,
    //         type: 'delete',
    //     }).done((data) => {
    //         alert(data)
    //     })
    //
    //     $.ajax("http://localhost:5151/api/userdata").done((data) => {
    //         const rowTableTemplate = `
    //         <tr>
    //             <td>%Id%</td>
    //             <td>%Name%</td>
    //             <td>%Lastname%</td>
    //             <td><button type="button" class="btn btn-danger">Delete</button></td>
    //         </tr>`;
    //         const rows = [];
    //         for (const item of data) {
    //             let doc$ = rowTableTemplate;
    //             doc$ = doc$.replace('%Id%', item.id);
    //             doc$ = doc$.replace('%Name%', item.name);
    //             doc$ = doc$.replace('%Lastname%', item.lastname);
    //             rows.push(doc$)
    //         }
    //         $('tbody').html(rows.join(''))
    //     });
    //     })
</script>,
>>>>>>> 45515c2db26ff20408e0764a68b5d725cc94f5ff
