@{
    ViewData["Title"] = "Useradd";
}



<div class="container">
    <div class="mb-3">
        <div class="row">
            <div class="col" id="UserAdd">
                <label for="exampleFormControlInput1" class="form-label">ID</label>
                <input type="email" class="form-control" id="userdataId" placeholder="#####">
            </div>
            <div class="col">
                <label for="exampleFormControlInput1" class="form-label">Name</label>
                <input type="email" class="form-control" id="userdataName" placeholder="Name">
            </div>
            <div class="col">
                <label for="exampleFormControlInput1" class="form-label">Lastname</label>
                <input type="email" class="form-control" id="userdataLastname" placeholder="Lastname">
            </div>
        </div>

    </div>
    <button type="button" class="btn btn-success" id="submitAddUserdata">Add</button>
    <a class="btn btn-light" role="button" asp-controller="Home" asp-action="Userdata">Back</a>
</div>

<script>
    $('#submitAddUserdata').click(() => {
        const id = $('#userdataId').val()
        const name = $('#userdataName').val()
        const lastname = $('#userdataLastname').val()

        $.ajax({
            url: 'http://localhost:5151/api/userdata',
            type: 'post',
            data: JSON.stringify({
                id, name, lastname
            }),
            contentType: "application/json; charset=utf-8",
        }).done((data) => {
            alert(data)

            $.ajax("http://localhost:5151/api/userdata").done((data) => {
                const rowTableTemplate = `
            <tr>
                <td>%Id%</td>
                <td>%Name%</td>
                <td>%Lastname%</td>
            </tr>`;
                const rows = [];
                for (const item of data) {
                    let doc$ = rowTableTemplate;
                    doc$ = doc$.replace('%Id%', item.id);
                    doc$ = doc$.replace('%Name%', item.name);
                    doc$ = doc$.replace('%Lastname%', item.lastname);
                    rows.push(doc$)
                }
                $('tbody').html(rows.join(''))
            });
        })
    })
</script>
